<%= form_with(model: tienda, local: true) do |form| %>
  <% if tienda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tienda.errors.count, "error") %> prohibited this tienda from being saved:</h2>

      <ul>
      <% tienda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :tienda_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
